# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env

# build outputs
dist/

data/
cleanup-dev.sh
test-client.js
backend/package-lock.json

# macOS system files
.DS_Store
*/.DS_Store

k8s/secret.yaml
iam_policy.json